body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
}

#home_team_score{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
   // border: 2px white;
    width: 115px;    
}

#guest_team_score{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
  //  border: 2px red;
    width: 115px;
}


button {
    width: 30px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
}
